<div class="container"
     [class.high-priority]="ticket.priority === TICKET_PRIORITY.HIGH"
     [class.medium-priority]="ticket.priority === TICKET_PRIORITY.MEDIUM"
     [class.low-priority]="ticket.priority === TICKET_PRIORITY.LOW">
  <div class="estimation">{{ ticket.estimation }}</div>
  <div class="id">id : {{ ticket.id }}</div>
  <div class="message">{{ ticket.message | lowercase }}</div>
</div>
