:host {
  > .container {
    padding: 16px 16px 24px 16px;
    color: black;
    background: #fff;
    display: flex;
    flex-direction: column;
    border: 1px solid #777;
    border-left: 5px solid;
    position: relative;

    &.high-priority {
      border-left-color: #e53935;
    }

    &.medium-priority {
      border-left-color: #ffc107;
    }

    &.low-priority {
      border-left-color: #2E7D32;
    }

    .estimation {
      position: absolute;
      bottom: 6px;
      right: 6px;
      font-weight: bold;
    }

    .message {
      font-style: italic;
      margin-top: 6px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #bbb;
    }
  }
}
