:host {
  .filters {
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;

    input {
      margin: 0 0 0 8px;
      width: 16px;
      height: 16px;
    }

    button {
      margin-left: 24px;
    }
  }
  .ticket-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    app-ticket {
      margin: 20px;
      width: 200px;
    }
  }
}
