<div class="filters">
  <label for="showLowPriorityTickets">Show low priority tickets</label>
  <input id="showLowPriorityTickets"
         type="checkbox"
         name="showLowPriorityTickets"
         [(ngModel)]="showLowPriorityTickets"
         (ngModelChange)="onChangeShowLowPriorityTickets($event)">

  <button (click)="generateNewTicket()">Generate new ticket</button>
</div>
<div class="ticket-list">
  <app-ticket *ngFor="let ticket of tickets" [ticket]="ticket"></app-ticket>
</div>
